<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <div class="container">
    <div class="row align-items-center g-3">
      <div class="col-lg-5 text-lg-start">
        <p class="m-0">
          &copy; 2026 ProvSec. All rights reserved.
        </p>
      </div>
      <div class="col-lg-7">
        <div class="footer-logos">
          <img
            class="footer-logo"
            src="https://www.springer.com/public/images/springer-logo.svg"
            alt="Springer"
          />
          <img
            class="footer-logo footer-logo-fintech"
            src="./assets/img/logo.png"
            alt="Monash FinTech Lab"
          />
          <img
            class="footer-logo"
            src="./assets/img/Cryptography_partnership-01.png"
            alt="Cryptography (MDPI)"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
