<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <!-- Create div then divided into left and right -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="m-0">
          &copy; 2026 ProvSec. All rights reserved.
        </p>
      </div>
      <div class="col-lg-6">
        <!--  Spring Logo from url	https://www.springer.com/public/images/springer-logo.svg-->
        <img src="https://www.springer.com/public/images/springer-logo.svg" alt="Springer Logo">
         <img
      src="./assets/images/cryptography-mdpi.png"
      alt="Cryptography (MDPI)"
      height="50">
                    
      </div>
    </div>
  </div>
</footer>
