<div class="overflow-hidden text-bg-dark shadow-lg position-relative site-header-banner">
  <div class="position-absolute w-100 site-header-banner-top">
    <h3 class="pt-5 mt-5 mb-4 display-4 lh-1 fw-bold text-dark text-center position-absolute top-0 w-100">
      ProvSec 2026
    </h3>
  </div>
  <div class="position-absolute w-100 site-header-banner-bottom">
    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-dark text-center position-absolute bottom-0 w-100">
      Queenstown, New Zealand <br>
      24 &mdash; 26 September 2026
    </h3>
  </div>
</div>
